@font-face {
  font-family: 'roboto';
  src: url(../font/roboto-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-light';
  src: url(../font/roboto-light.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-medium';
  src: url(../font/roboto-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-mono-light';
  src: url(../font/roboto-mono-light.ttf) format('truetype');
}

body {
  font-family: 'roboto';
  background-color: #0d1117;
  color: #e6edf3;
  margin: 0px;
}

.container {
  margin: 25px 25px 2px 25px;
  border-radius: 30px;
  height: 298px;
  width: 1080px;
  background-color: #161b22;
}

.container-content {
  padding: 40px;
}

.album-cover {
  height: 160px;
  width: 160px;
  border-radius: 8px;
  float: left;
}

.listening-status {
  margin-top: 2px;
  margin-left: 192px;
  letter-spacing: 3px;
  font-size: 15px;
  color: #717880;
  text-transform: uppercase;
}

.track-title {
  font-family: 'roboto-medium';
  font-size: 44px;
  width: 700px;
  margin-top: 30px;
  margin-left: 190px;
  overflow: hidden;
  white-space: nowrap;
}

.artist-name {
  font-family: 'roboto-light';
  font-size: 38px;
  color: #8b949e;
  width: 700px;
  margin-left: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-stats {
  font-family: 'roboto';
  font-size: 18px;
  margin-top: 2px;
  float: left;
  color: #8b949e;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.user-url {
  font-family: 'roboto-mono-light';
  font-size: 19px;
  color: #8b949e;
  float: right;
  letter-spacing: 1px;
}

.separator {
  border: 1px solid #e6edf3;
  margin-top: 42px;
  margin-bottom: 12px;
}

.powered-by {
  font-size: 12px;
  margin-left: 730px;
  color: #161b22;
  text-transform: uppercase;
}

.sound-waves {
  height: 81px;
  float: right;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.sound-waves .sound-bar {
  display: block;
  position: relative;
  border-radius: 50px;
  height: 100%;
  width: 8px;
  background-color: #3d4246;
  margin-right: 4px;
}
