@font-face {
  font-family: 'roboto';
  src: url(../font/roboto-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-light';
  src: url(../font/roboto-light.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-medium';
  src: url(../font/roboto-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-mono-light';
  src: url(../font/roboto-mono-light.ttf) format('truetype');
}

:root {
  --bg-color: #ffffff;
  --text-color: #1f2329;
  --text-color-medium: #636c76;
  --text-color-soft: #838e9a;
  --text-color-softer: #aab8c4;
  --container-bg-color: #f6f8fa;
}

.dark-mode:root {
  --bg-color: #0d1117;
  --text-color: #e6edf3;
  --text-color-medium: #8b949e;
  --text-color-soft: #717880;
  --text-color-softer: #3d4246;
  --container-bg-color: #161b22;
}

body {
  font-family: 'roboto';
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0px;
}

.container {
  margin: 25px 25px 2px 25px;
  border-radius: 30px;
  height: 298px;
  width: 1080px;
  background-color: var(--container-bg-color);
}

.container-content {
  padding: 40px;
}

.album-cover {
  height: 160px;
  width: 160px;
  border-radius: 8px;
  float: left;
}

.listening-status {
  margin-top: 2px;
  margin-left: 192px;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--text-color-soft);
  text-transform: uppercase;
}

.track-title {
  font-family: 'roboto-medium';
  font-size: 44px;
  width: 700px;
  margin-top: 30px;
  margin-left: 190px;
  overflow: hidden;
  white-space: nowrap;
}

.artist-name {
  font-family: 'roboto-light';
  font-size: 38px;
  color: var(--text-color-medium);
  width: 700px;
  margin-left: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-stats {
  font-family: 'roboto';
  font-size: 18px;
  margin-top: 2px;
  float: left;
  color: var(--text-color-medium);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.user-url {
  font-family: 'roboto-mono-light';
  font-size: 19px;
  color: var(--text-color-medium);
  float: right;
  letter-spacing: 1px;
}

.separator {
  border: 1px solid var(--text-color);
  margin-top: 42px;
  margin-bottom: 12px;
}

.powered-by {
  font-size: 12px;
  margin-left: 730px;
  color: var(--container-bg-color);
  text-transform: uppercase;
}

.sound-waves {
  height: 81px;
  float: right;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.sound-waves .sound-bar {
  display: block;
  position: relative;
  border-radius: 50px;
  height: 100%;
  width: 8px;
  background-color: var(--text-color-softer);
  margin-right: 4px;
}
